   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       font-family: "Sriracha", sans-serif;
       font-weight: 400;
       font-style: normal;
   }

   li {
       list-style: none;
   }

   a {
       text-decoration: none;
   }

   /*nav*/

   nav {
       /* background-color: #0033da; */
       background: linear-gradient(90deg, #A8D8EA, #F0E8B7);
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       padding: 0 3rem;
       position: sticky;
       top: 0;
       z-index: 999;
       box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
   }

   nav img {
       height: 50px;
   }

   nav p {
       color: #f7f7f7;
       font-size: 1.3rem;
       letter-spacing: .1rem;
       text-transform: uppercase;
   }

   .burger {
       background-color: rgba(255, 255, 255, 0);
       border: 1px solid rgba(255, 255, 255, 0);
       cursor: pointer;
       display: none;
       font-size: 2.2rem;
       position: relative;
       padding: 0;
       outline: none;
       height: 3rem;
       width: 3rem;
   }

   .burger:active {
       outline: none;
   }

   .burger .bar {
       background-color: #242424;
       position: absolute;
       left: 20px;
       transform: translate(-50%, -50%) rotate(0deg);
       height: 3px;
       width: 20px;
       transition: transform 0.2s ease;
   }

   .burger .bar:first-of-type {
       top: 40%;
   }

   .burger .bar:last-of-type {
       top: 60%;
   }

   nav ul {
       display: flex;
       margin: 0;
       padding: 0;
   }

   nav ul li {
       margin: 0 10px;
       padding: 1rem .3rem;
       transition: ease .3s;
   }

   nav a {
       color: #242424;
       position: relative;
       font-size: 1rem;
   }

   nav ul a li:hover {
       color: #ff9f68;
   }

   @media (max-width: 1000px) {
       nav {
           padding: 0;
       }

       nav img {
           margin: auto;
       }

       .burger {
           display: block;
       }

       .burger.show-x .bar:first-of-type {
           transform: translate(-50%, 50%) rotate(225deg);
       }

       .burger.show-x .bar:last-of-type {
           transform: translate(-50%, -150%) rotate(-225deg);
       }

       nav ul {
           background-color: #f8f9fa;
           box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
           flex-direction: column;
           text-align: center;
           position: fixed;
           top: 80px;
           left: 10%;
           transform: translateX(120%);
           width: 80%;
           transition: transform 0.3s ease-in;
           z-index: 100;
       }

       nav ul.show {
           transform: translateX(0);
           background-color: #f8f9fa;
       }

       nav ul li {
           margin: 15px;
       }
   }

   /*end nav*/
   /* Landing Page */
   .landing {
       height: 50vh;
       background-image: url(../img/landing.jpg);
       background-size: cover;
       background-position: center;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
   }

   .landing h1 {
       font-size: 5rem;
       color: #fff;
       animation: slideLeft 1s ease;
   }

   @keyframes slideLeft {
       from {
           transform: translatex(40px);
       }

       to {
           transform: translatex(0);
       }
   }

   /* Landing Page */